* {
  box-sizing: border-box;
}

.header {
    padding: -12px;
    font-family: monospace;
    background-color: #383a3b;
    border-radius: 7px;
}

header {
    display: inline;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 200%;
    padding: 20px;
    margin: -7px;
    font-family: "Audiowide", sans-serif;
}

h2 {
    color:#249ad5;
    font-size: 200%;
    padding: 20px;
    margin: -7px;
    font-family: "Audiowide", sans-serif;
}

p {
    color: rgb(247, 247, 247);
    font-size: 20px;
    text-align: justify;
}

#about-me p {
    color: darkcyan;
    font-family: monospace;
    font-size: 20px;
    width: 1500px;
    outline: rgb(187, 187, 187) solid 10px;
}

#myPara {
  border: 4px solid rgb(20, 94, 20);
  padding: 10px;
  margin: auto;
}

.subtitle {
    height: 77px;
    width: 97.5;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: -21px;
    background-color: #249ad5;
    background-image: linear-gradient(to bottom right, green, #249ad5);
    text-align: end;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 7px;
    border: 4px solid rgb(20, 94, 20);
}

.my-work img {
    display: inline;
}

#myImg {
  width: 250px;
  height: 320px;
  transition: width 2s, height 2s, transform 2s;
  border-radius: 35%;
  filter: contrast(180%);
  object-fit: cover;
  
}

img:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}

img {
    height: 350px;
    width: 280px;
    filter: contrast(180%);
}

nav {
    padding-top: 15px;
    margin-right: 3px;
    float: right;
    font-size: 20px;
    margin-top: -105px;
    color: rgb(255, 255, 255);
}

nav li {
    display: inline;
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
 .content {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 35%;
    padding: 20px;
    height: 92%;
  }
  .content:hover {
    background-color: transparent;
  }

.contact-me {
    background-color: rgb(255, 255, 255);
    float: left;
  }

  button {
    background-color: #02562d; 
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
  }

  @media screen and (max-width: 850px) {
    h1 {
      background: #0d5ab8;
    }
  }
  
 @media screen and (max-width: 500px) {
    body {
      background-color: #2f0421;
    }
  }