* {
    box-sizing: border-box;
  }
.header {
    padding: -12px;
    font-family: monospace;
    background-color: #383a3b;
}

header h1 {
    display: inline-block;
    background-color: rgb(8, 74, 5);
}
h1 {
    color:rgb(24, 219, 230);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 200%;
    padding: 20px;
    margin: 20px;
}

h2 {
    color:#249ad5;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 200%;
    padding: 20px;
     margin: 20px;
}
p {
    color: rgb(247, 247, 247);
    font-size: 20px;
}

#about-me p {
    color: darkcyan;
    font-family: monospace;
    font-size: 20px;
}

.subtitle {
    height: 77px;
    width: 97.5;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: -21px;
    background-color: #249ad5;
}

.my-work img {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 11fr;


}
img {
    height: 350px;
    width: 240px;
}

nav {
    padding-top: 15px;
    margin-right: 3px;
    float: right;
    font-size: 20px;
    margin-top: -105px;
    color: cyan;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: aqua;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
.container .content {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    padding: 20px;
    height: 92%;
  }

.contact-me {
    background-color: rgb(240, 238, 241);
  }