/* element styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* the background color for body */
body {
    background-color: #ffffff;
}

/* header styling */

h2 {
    font-family: 'Courier New', Courier, monospace;
}
.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2e3031;
    color: #f6f8f8;
    display: block;
}
.header h1 {
    display: inline-block;
    font-size: 40px;
}
 /* Nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    color: aqua;
}

nav a {
    color:aqua;
}

p {
    font-size: 16px;
    font-family: monospace;
    text-align: end;
}

#contact-me {
    font-family: monospace;
    text-align: left;
    font-size: larger;
}

/* Portfolio */
.portfolio {
    padding: 40px;
    background-color: #249ad5;
}

.portfolio-items-wrapper {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position:relative;
}

.portfolio-img-background {
    height: 350px;
    width: 250%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
}


.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}


.content {
    width: 75%;
    display: grid;
    margin-left: 20px;
}

.content img {
    max-height: 500px;
}
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
    border-right-style: solid;
}

.footer {
    height: 300px;
}



